<%= form_for @menu, :html => { :multipart => true }  do |f| %>
    <div class="form-bottom b1">
        <div class="input-group col-xs-12 col-md-12" style="margin-bottom: 20px;">
            <%= f.label " Tên menu", class: "input-group-addon fa fa-edit", style: "width: 200px; height: 20px ;text-transform: uppercase; background: #91CB5B; color: white;" %>
            <%= f.text_field :menuName, class: "form-control", placeholder: "Nhập tên menu..." %>
        </div>

        <div class="input-group col-xs-12 col-md-12" style="margin-bottom: 20px;">
            <%= f.label " Nội dung", class: "input-group-addon fa fa-leaf", style: "width: 200px; height: 20px ;text-transform: uppercase; background: #91CB5B; color: white;" %>
            <%= f.text_area :content, class: "form-control", placeholder: "Nhập nội dung..." %> 
        </div>

        <div class="input-group col-xs-12 col-md-12" style="margin-bottom: 20px;">
            <%= f.label " Imgs", class: "input-group-addon fa fa-file-image-o", style: "width: 200px; height: 20px ;text-transform: uppercase; background: #91CB5B; color: white;" %>
            <%= f.file_field :imgs, multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png" %>
        </div>
        <div id="foods">
        </div>
        <%= link_to new_menu_food_path([@menu, Food.new]), remote: true, class: "btn btn-next btn-success" do %>
            Thêm món ăn
            <i class="fa fa-plus-square"></i>
        <% end %>

        <div style="margin-top: 20px;">
            <%= f.submit "Tạo menu", class: "btn btn-next btn-success" %>
        </div>
    </div>
<% end %>
