<div class="post">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user6-128x128.jpg">
    <span class="username">
      <a href="#"><%= menu.user.name %></a>
      <% if current_user.id == menu.user.id %>
        <%= link_to menu, method: :delete, data: { confirm: 'Bạn chắc chắn?' }, class: "pull-right btn-box-tool" do %>
          <i class="fa fa-times"></i>
        <% end %>
        <%= link_to edit_menu_path(menu), class: "pull-right btn-box-tool" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
    </span>
    <span class="description"><%= link_to menu.menuName, menu %></span>
  </div>
  <div class="row margin-bottom">
    <%= menu.content %>
    <%= menu.get_list.each do |img_link| %>
        <%= image_tag img_link %>
        <% end %>
    <%= render menu.foods %>
  </div>
  <ul class="list-inline">
    <li><a href="#" class="link-black text-sm"><i class="fa fa-question-circle-o margin-r-5"></i> Hỏi công thức</a></li>
    <li>
      <%= link_to like_menu_path(menu), method: :put do%>
        <i class="fa fa-thumbs-o-up margin-r-5"></i> Vote</a>
      <% end %>
    </li>
    <li>
      <%= link_to dislike_menu_path(menu), method: :put do %>
        <i class="fa fa-thumbs-o-down margin-r-5"></i> Unvote
      <% end %>
    </li>
    <li><%= menu.score %></li>
    <li class="pull-right">
      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i>
        Bình luận(<%= menu.comments.count %>)
      </a>
    </li>
  </ul>
  <% if menu.comments.nil? %>
    <%= render menu.comments %>
    <%= render 'shared/comment_form', menu: menu %>
  <%end%>
  <input class="form-control input-sm" type="text" placeholder="Viết bình luận">
</div>
