<div class="post">
  <div class="user-block">
    <img> <%= image_tag current_user.avatar.url, class: "img img-circle img-bordered-sm", width: "36px", height: "36px"%>
    <span class="description"><%= link_to menu.menuName, menu %></span>
    <span class="username">
      <%= link_to menu.user.name, menu.user %>
      <% if current_user.id == menu.user.id %>
        <%= link_to menu, method: :delete, data: { confirm: 'Bạn chắc chắn?' }, class: "pull-right btn-box-tool" do %>
          <i class="fa fa-times"></i>
        <% end %>
        <%= link_to edit_menu_path(menu), class: "pull-right btn-box-tool" do %>
          <i class="fa fa-edit"></i>
        <% end %>
      <% else %>
        <%#= link_to new_menu_menu_tag_path(menu), class: "pull-right btn-box-tool" do %>
            <!-- <i class="fa fa-plus"></i> -->
        <%# end %>
        <a id="addTagButton" class="dropdown-toggle pull-right btn-box-tool" data-toggle="dropdown">
          <i class="fa fa-heart"></i>
        </a>
        <%= render "tags/form", menu: menu %>
      <% end %>
    </span>
  </div>
  <div class="row margin-bottom">
    <%= menu.content %><br/>
    <% menu.get_list.each do |img_link| %>
      <div class="col-sm-6">
        <%= image_tag img_link, class: "img-responsive" %>
      </div>
    <% end %>
    <%= render menu.foods %>
  </div>
  <ul class="list-inline vote-button">
    <% if menu.user.id != current_user.id %>
      <li>
        <%= link_to like_menu_path(menu), method: :put do %>
          <i class="fa fa-thumbs-o-up margin-r-5"></i> Vote
        <% end %>
      </li>
      <li>
        <%= link_to dislike_menu_path(menu), method: :put do %>
          <i class="fa fa-thumbs-o-down margin-r-5"></i> Unvote
        <% end %>
      </li>
      <li><%= menu.score %></li>
    <% end %>
    <li class="pull-right">
      <a class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i>
        Bình luận(<%= menu.comments.count %>)
      </a>
    </li>
  </ul>
  <% if menu.comments.any?%>
    <%= render menu.comments %>
  <%end%>
  <%= render 'shared/comment_form', menu: menu %>
</div>
<script type="text/javascript">
  $("#tagContainer").click(function(e) {
    e.stopPropagation();
  });
</script>
