<p id="notice"><%= notice %></p>

<h1>Listing Menus</h1>
    <% @menus.each do |menu| %>
      <div class="post">
        <div class="user-block">
          <img class="img-circle img-bordered-sm" src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user6-128x128.jpg">
          <span class="description"><%= link_to menu.menuName, menu %></span>
          <span class="username">
            <%= link_to menu.user.name, menu.user %>
            <% if current_user.id == menu.user.id %>
              <%= link_to menu, method: :delete, data: { confirm: 'Bạn chắc chắn?' }, class: "pull-right btn-box-tool" do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="row margin-bottom">
          <%= menu.content %><br/>
          <% menu.get_list.each do |img_link| %>
            <div class="col-sm-6">
              <%= image_tag img_link, class: "img-responsive" %>
            </div>
          <% end %>
          <%= render menu.foods %>
        </div>
      </div>
    <% end %>
</table>

<br>
