<p id="notice"><%= notice %></p>

<p>
  <strong>menuName:</strong>
  <%= @menu.menuName %>
</p>

<p>
  <strong>Content:</strong>
  <%= @menu.content %>
</p>
# FOR THE ATTACHMENT
<a href= "<%= @menu.attach.url %> ">
            <b> File attached </b></a>
<br/>
 <%= image_tag @menu.pic.url %>
<br/>
list picture
<br/>
<% @menu.get_list.each do |img_link| %>
  <%= image_tag img_link %>
<% end %>
<br/>
<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
