<div class="row">
  <aside class="col-md-4">
   <img> <%= image_tag current_user.avatar.url, class: "img-circle img-bordered-sm" %> 
  </aside>
  <aside class="col-md-4">
    <h1><%= current_user.name %></h1>
    <p><%= current_user.email %></p>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' %>
    <%= render 'users/follow_form' %>
  </aside>
</div>
                    