<%= f.fields_for :ingredients do |ff| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= ff.label :ingredient_name %><br>
    <%= ff.text_field :name %>
  </div>
  <div class="field">
    <%= ff.label :quality %><br>
    <%= ff.text_field :quality %>
  </div>
  <div class="actions">
    <%= ff.submit %>
  </div>
<% end %>
