<!-- BEGIN | Header -->
<header id="header" class="nmh-header ht-header">
    <nav id="navbar-primary" class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active logo pull-left">
                    <%= link_to root_path do %>
                        <img src="<%= image_url('logo.png') %>" alt="logo" class="logo">
                    <% end %>
                </li>
                <li class="pull-right">
                    <div class="mobile-control-toggle">
                        <button type="button" class="mobile-nav-toggle" data-target="#menu-list">
                            <span class="sr-only">Toggle mobile menu</span>
                            <span class="icon-bar icon-bar-1"></span>
                            <span class="icon-bar icon-bar-2"></span>
                            <span class="icon-bar icon-bar-3"></span>
                        </button>
                    </div>
                    <!-- ./mobile-panels-control -->
                    <div class="mobile-nav">
                        <ul>
                            <li class="current-menu-item_ menu-item-has-children_ dropdown-menu_">
                                <%= link_to "Trang chủ", root_path %>
                            </li>
                            <li><a href="/postrecipes" onclick="dotmetrix.track('レシピ投稿画面に遷移');">Đăng công thức</a></li>
                            <li><a href="/recipes">Công thức nấu ăn</a></li>
                            <li><a href="/articles">Tin tức</a></li>
                            <li><a href="/tips">Mẹo vặt</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                            <li><a href="/login" data-toggle="modal_" data-target="#ht-lre_">Đăng nhập</a></li>
                        </ul>
                    </div>
                    <!-- / .mobile-nav -->
                </li>
                <li class="pull-right">
                    <div class="ht-main-navbar nmh-main-navbar">
                    <nav id="ht-main-nav">
                        <ul class="menu-bar">
                          <% if user_signed_in? %>
                            <li>
                              <%= link_to "Trang chủ", root_path %>
                            </li>
                            <li class="menu-item-has-children dropdown-menu login-f mega-menu" style="float: none !important; min-width: inherit;">
                                <a href="/recipes">Công thức nấu ăn</a>
                            </li>
                            <li><a href="/tips">Mẹo vặt</a></li>
                            <li><a href="/articles">Tin tức</a></li>
                            <li class="menu-item-has-children dropdown login-f pull-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="https://graph.facebook.com/v2.5/882257648552259/picture?type=normal"
                                        class="img-circle avatar" style="width: 36px; height: 36px;" id="avatar">
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= link_to current_user.name, current_user %></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Quản lý công thức</a></li>
                                    <li>
                                        <a class="btn btn-link" href="#">Thông tin cá nhân</a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-link">Thay đổi mật khẩu</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <%= link_to "Thoát", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
                                    </li>
                                </ul>
                            </li>
                            <% else %>
                            <li class="pull-right">
                                <%= link_to "Đăng ký", new_user_registration_path %>
                            </li>
                            <% end %>
                          </ul>
                    </nav>
                </div>
                </li>
            </ul><!-- /.navbar-nav -->
        </div><!-- /.container -->
    </nav>
    <div class="search-bar-wrap">
        <div class="container">
            <% if user_signed_in? %>
            <div class="row">
                <div class="col-md-8">
                    <div class="search-bar">
                        <form method="GET" action="http://cookstar.asia/list" accept-charset="UTF-8" class="input-group">
                        <div class="input-group add-on">
                            <input id="title" class="search-query form-control" placeholder="Tìm kiếm thực đơn..." autofocus="autofocus" name="title" type="text">
                            <div class="input-group-btn">
                                <button class="btn" type="submit">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-recipe-button">
                        <a href="/postrecipes" class="btn btn-block btn-post-recipe" name="btn_postrecipes">
                            <span class="fa fa-upload"></span> Đăng thực đơn
                        </a>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <script>
        $('.notificationLink').click(function() {
            $('.notificationContainer').toggleClass('hide');
        })

        $().ready(function() {
            var nextElement = $('#header').next();
            var ckEle = nextElement.is('style', 'script', 'section');
            if (!ckEle) {
                nextElement.addClass('content-position');
            }
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 600) {
                $('#navbar-primary').addClass("sticky");
            } else {
                $('#navbar-primary').removeClass("sticky");
            }
        });
    </script>
</header>
<!-- END | Header -->
